

.navbar .nav-link.active {
    color: rgb(0, 162, 255);
    font-weight: bold;
}


.navbar .nav-link:hover {
    color: #001aff; 
}

.container.mt-4{
    background-color: #ffffff;
    padding: 20px;


}

h1 {
    color: #ffffff; 
    background-color: #00a2ff; 
    text-align: center;
    padding: 20px; 
    border-radius: 5px; 
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 18px; 
    line-height: 1.6; 
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 80px;
    

}
body{
    background-color: rgb(83, 200, 247);
}

.spaced-paragraph {
    margin-bottom: 50px;
}


footer{
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #000000;
}

form {
    margin-top: 60px;
}

.spaced-top {
    margin-top: 20px;
}

.form-label {

    color:rgb(0, 162, 255);
}